version: "3.9"
services:
  postgres:
    image: postgres:16
    container_name: catalog-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: catalog
      POSTGRES_USER: catalog
      POSTGRES_PASSWORD: catalog
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

